@page
@model EPE.UI.Pages.Admin.CategoriesModel
@{
}

<div class="admin-categories-hero">
    <div class="admin-add-category">
        <div class="add-category-form" v-if="adding">
            <h1 class="add-category-title">Add new category</h1>
            <div class="field">
                <label class="label">Nombre</label>
                <div class="control">
                    <input class="input" v-model="categoryModel.name">
                </div>
                <label class="label">Slug</label>
                <div class="control">
                    <input class="input" disabled placeholder="to be implemented...">
                </div>
                <label class="label">Parent category</label>
                <treeselect v-model="value" :multiple="false" :options="options" ref="treeselect"/>
                <label class="label">ParentId</label>
                <div class="control">
                    <input class="input" v-model="categoryModel.parentId">
                </div>
            </div>

            <button @@click="createCategory()" class="button is-link">Add category</button>
        </div>

        <div class="update-category-form" v-if="updating">
            <h1 class="add-category-title">Update category</h1>
            <div class="field">
                <label class="label">Nombre</label>
                <div class="control">
                    <input class="input" v-model="categoryModel.name" required>
                </div>
                <label class="label">Slug</label>
                <div class="control">
                    <input class="input" disabled placeholder="to be implemented...">
                </div>
                <label class="label">Parent category</label>
                <treeselect v-model="value" :multiple="false" :options="options" ref="treeselect"/>
                
            </div>
            <div>
                <button @@click="updateCategory()" class="button is-link">Update category</button>
                <button @@click="cancel()" class="button">Cancel</button>
            </div>
        </div>

    </div>

    <div class="admin-category-list">
        <table class="table categories-table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Category</th>
                    <th>ParentId</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="c, index in categories" @@click="getChildren(c.id)">
                    <th>{{c.id}}</th>
                    <th>{{c.name}}</th>
                    <th>{{c.parent.name}}</th>
                    <th>{{c.parent.id}}</th>
                    <th id="modify-column">
                        <a @@click="getCategory(c.id)"><i class="fas fa-edit"></i></a>
                        <a @@click="deleteCategory(c.id)"><i class="fas fa-times-circle"></i></a>
                    </th>
                </tr>
            </tbody>
        </table>
    </div>
</div>

@section scripts
{
    <script src="~/js/admin/categories.js"></script>
}