@page
@model EPE.UI.Pages.Admin.IndexModel
@{
}

<div class="admin-list" v-if="showList">    
    <button class="add-product-btn button is-link" @@click="newProduct">Add product</button>
    <table class="table products-table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Value</th>
                <th>Total stock</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="(product, index) in products" @@click="getProduct(product.id, index)">
                <td>{{product.id}}</td>
                <td>{{product.name}}</td>
                <td>{{product.value}}</td>
                <td>{{product.stockCount}}</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="admin-element" v-else-if="showProduct">
    <button class="button back-btn" @@click="toggleList">
        <i class="fas fa-long-arrow-alt-left"></i>
    </button>
    <button class="button is-danger delete-product-btn" v-if="productModel.id"
        @@click="deleteProduct(productModel.id, productModel.images)">Delete product</button>
    <div class="product-form">
        <div class="admin-data-form">
            <div class="field">
                <span></span>
                <label class="label">Name</label>
                <div class="control">
                    <input class="input" v-model="productModel.name">
                </div>
            </div>
            <div class="field">
                <label class="label">Description</label>
                <div class="control">
                    <input class="input" v-model="productModel.description">
                </div>
            </div>
            <div class="field">
                <label class="label">Value</label>
                <div class="control">
                    <input class="input" v-model="productModel.value">
                </div>
            </div>
            <div class="field">
                <label class="label">Subcategoría</label>
                <div class="control">
                    <select v-model="productModel.subcategoryId">
                        <option v-for="sc in subcategories" :value="sc.id">{{sc.name}}</option>
                    </select>
                </div>
            </div>
            <div class="field">
                <label class="label">Primary Image</label>
                <div class="control">
                    <input type="file" class="input" @@change="getPrimaryImage($event)">
                </div>
            </div>
            <div class="field">
                <label class="label">Images</label>
                <div class="control">
                    <input type="file" class="input" multiple @@change="getImages($event)">
                </div>
            </div>

            <button class="button" @@click="getStock(productModel.id)" v-if="productModel.id">Manage stock</button>
            <button @@click="createProduct" v-if="!productModel.id" class="button is-link">Create product</button>
            <button @@click="updateProduct" v-else="" class="button is-link">Update product</button>
        </div>
    </div>
</div>

<div class="admin-stock" v-else-if="showStock">

    <button class="button back-btn" @@click="toggleProduct">
        <i class="fas fa-long-arrow-alt-left"></i>
    </button>

    <table class="table stock-form">
        <thead>
            <tr>
                <th>Name</th>
                <th>Quantity</th>
            </tr>
        </thead>

        <tbody v-if="stock.length > 0">
            <tr v-for="(s, index) in stock">
                <td><input class="input" v-model="s.description" /></td>
                <td><input class="input" v-model="s.qty" /></td>
                <td><a class="has-text-danger" @@click="deleteStock(s.id, index)">
                    <i class="fas fa-times is-danger"></i>
                </a></td>
            </tr>
        </tbody>
    </table>
    <table class="table add-stock-form">
        <tbody>
            <tr>
                <td><input class="input" v-model="stockModel.description" /></td>
                <td><input class="input" v-model="stockModel.qty" /></td>
                <td><button class="button is-success" @@click="addStock">
                    <i class="fas fa-level-up-alt"></i>
                </button></td>
            </tr>
        </tbody>
    </table>
    <button class="button is-link stock-save-btn" @@click="updateStock">Save changes</button>
</div>

@section scripts{
    <script src="~/js/admin/products.js"></script>
}