@page
@model EPE.UI.Pages.Admin.ProductsListModel
@{
}

<div class="admin-list">    
    <button class="add-product-btn button is-success" @@click="newProduct">Add product</button>
    <table class="table products-table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Value</th>
                <th>Total stock</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="(product, index) in products" @@click="getProduct(product.id, index)">
                <td>{{product.id}}</td>
                <td>{{product.name}}</td>
                <td>{{product.value}}</td>
                <td>{{product.stockCount}}</td>
            </tr>
        </tbody>
    </table>
</div>