@page
@model EPE.UI.Pages.Admin.ProjectsModel
@{
}

<div class="admin-list" v-if="showList">
    <button class="add-product-btn button is-success" @@click="newProject()">Add project</button>
    <table class="table products-table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Tags</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="(project, index) in projects" @@click="getProject(project.id, index)">
                <td>{{project.id}}</td>
                <td>{{project.title}}</td>
                <td>{{project.tags}}</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="admin-element" v-else="">
    <button class="button is-primary back-btn" @@click="toggleList()">
        <i class="fas fa-long-arrow-alt-left"></i>
    </button>
    <button class="button is-danger delete-product-btn" v-if="projectModel.id"
            @@click="deleteProject(projectModel.id, projectModel.image)">
        Delete project
    </button>
    <div class="product-form">
        <div class="admin-data-form">
            <div class="field">
                <label class="label">Title</label>
                <div class="control">
                    <input class="input" v-model="projectModel.title">
                </div>
            </div>
            <div class="field">
                <label class="label">Description</label>
                <div class="control">
                    <input class="input" v-model="projectModel.description">
                </div>
            </div>
            <div class="field">
                <label class="label">Tags</label>
                <div class="control">
                    <input class="input" v-model="projectModel.tags">
                </div>
            </div>
            <div class="field">
                <label class="label">Image</label>
                <div class="control">
                    <input type="file" class="input" @@change="getFile($event)">
                </div>
            </div>

            <button @@click="createProject()" v-if="!projectModel.id" class="button is-success">Create product</button>
            <button @@click="updateProject()" v-else="" class="button is-success">Update product</button>
        </div>
    </div>
</div>

@section scripts
{
    <script src="~/js/admin/projects.js"></script>
}