@page
@model ProjectsModel

@inject IAuthorizationService authService;
@{ 
    ViewBag.Title = "Proyectos | ";
    ViewData["Section"] = "PROYECTOS";
}

<main>
    <div class="container">
        <div class="projects-container">
            <div class="breadcrumb" aria-label="breadcrumbs">
                <ul>
                    <p>Filtrar: </p>
                    <li><a href="#">Arquitectura</a></li>
                    <li><a href="#">Interiores</a></li>
                    @if ((await authService.AuthorizeAsync(User, "Manager")).Succeeded)
                    {
                        <a class="create-project" asp-page="/Admin/Projects">Administrar proyectos</a>
                    }
                </ul>
            </div>
            <div class="project-container">
                @foreach (var project in Model.Projects)
                {
                    <div class="project-card">
                        <a asp-page="Project" asp-route-title="@project.Title" 
                        class="project-img">
                            <img src="~/media/projects/@project.ImagePath" alt=""
                            height="250px">
                        </a>
                        <a asp-page="Project" asp-route-title="@project.Title" 
                        class="project-title">@project.Title</a>
                        <div class="project-tags">
                            <a href="" class="tag">@project.Tags</a>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</main>