@page
@inject IAuthorizationService authService;

@{
    Layout = "";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]Espacio por Espacio</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href ="https://fonts.googleapis.com/css?family=Roboto+Mono|Roboto+Slab|Roboto:300,400,500,700" rel = "stylesheet" />
    <link rel="stylesheet" href="~/lib/bulma/css/bulma.css">
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>
    <section class="hero">
        <div class="hero-head">
                <nav class="navbar" role="navigation" aria-label="main navigation">
                    <div class="container"> 
                        <div class="navbar-brand">
                            <a asp-page="/index" id="navbar-logo" class="navbar-item">
                                <img src="~/media/logo.png" alt="" width="124">
                            </a>
                            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                                <span aria-hidden="true"></span>
                                <span aria-hidden="true"></span>
                                <span aria-hidden="true"></span>
                            </a>
                        </div>
                        <div class="navbar-menu" id="navbarBasicExample">
                            <div class="navbar-start">
                                <a asp-page="/projects/projects" class="navbar-item">Proyectos</a>
                                <a asp-page="/home/about" class="navbar-item">Estudio</a>
                                <a class="navbar-item">Contacto</a>
                                <a asp-page="/store/index" class="navbar-item">Tienda</a>
                            </div>
                            <div class="navbar-end">
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <div class="navbar-item has-dropdown is-hoverable ">
                                        <a class="navbar-link">
                                            @User.Identity.Name
                                        </a>
                                        <div class="navbar-dropdown is-boxed">
                                            @if ((await authService.AuthorizeAsync(User, "Manager")).Succeeded)
                                            {
                                                <a class="navbar-item" asp-page="/Admin/Index">Admin panel</a>
                                            }
                                            <a class="navbar-item">Cuenta</a>
                                            <a class="navbar-item" asp-controller="Account" asp-action="Logout">Salir</a>
                                        </div>
                                    </div>
                                }
                                else{
                                    <a asp-page="/account/signup" class="navbar-item">Crear cuenta</a>
                                    <a asp-page="/account/login" class="navbar-item">Entrar</a>
                                }
                            </div>
                        </div>
                    </div>
                </nav>
        <partial name="_CookieConsentPartial" />
        </div>

        <div class="hero-body">
            <div class="container">
                <div class="banner-container">
                    <h1 class="banner-title is-light is-large">TE DISEÑAMOS EL RANCHO</h1>
                    <h2 class="banner-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae qui eos atque quas quae vero provident doloribus itaque dicta quod magni voluptatibus aliquid voluptatem, non quaerat praesentium? Pariatur, quidem quasi.</h2>
                    <a asp-page="/projects/projects" class="banner-btn">CONOCE NUESTROS PROYECTOS</a>
                </div>
            </div>
        </div>
    </section>

    <script src="~/js/site.js"></script>
</body>
</html>