@page
@model Projects.EditModel

@{  /*
    ViewData["Title"] = "Editar proyecto | ";

<div class="section-header">
    <h1 class="section-title">EDITAR PROYECTO</h1>
</div>
<form method="POST" enctype="multipart/form-data" class="project-form">
    <input type="hidden" asp-for="Project.Id" value="@Model.ProjectToUpdate.Id">
    <input type="hidden" asp-for="Project.ImagePath" value="@Model.ProjectToUpdate.ImagePath">
    <div class="form-group">
        <label asp-for="Project.Title"></label>
        <input type="text" asp-for="Project.Title" class="form-control" value="@Model.ProjectToUpdate.Title">
    </div>
    <div class="form-group">
        <label asp-for="Project.Description"></label>
        <input type="text" asp-for="Project.Description" class="form-control" value="@Model.ProjectToUpdate.Description">
    </div>
    <div class="form-group">
        <label asp-for="Project.Tags"></label>
        <select asp-for="Project.Tags" class="form-select" aria-label="Select tag">
            <option value="null" disabled selected hidden></option>
            <option value="Interiores">Interiores</option>
            <option value="Arquitectura">Arquitectura</option>
        </select>
    </div>
    <div class="form-group">
        <label asp-for="Project.Image"></label>
        <input asp-for="Project.Image" class="form-control">
    </div>
    <input type="submit" value="Save project" class="btn-epe" style="margin: 15px auto; display: block;">
</form>

    */}