@page
@model EPE.UI.Pages.Admin.IndexModel
@{
}

<div class="admin-container">
    <aside class="admin-side-bar">
        <div class="menu">
            <p class="menu-label">STORE</p>
            <ul class="menu-list">
                <li><a asp-page="/Admin/Index">Products</a></li>
                <li><a asp-page="/Admin/Orders">Orders</a></li>
            </ul>
            <p class="menu-label">PROJECTS</p>
            <ul class="menu-list">
                <li><a asp-page="/Admin/Index">Projects</a></li>
            </ul>
        </div>
    </aside>

    <div id="app" style="width: 100%">
        <div class="admin-list" v-if="showList">    
            <button class="add-product-btn button is-success" @@click="newProduct">Add product</button>
            <table class="table products-table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Value</th>
                        <th>Total stock</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(product, index) in products" @@click="editProduct(product, index)">
                        <td>{{product.id}}</td>
                        <td>{{product.name}}</td>
                        <td>{{product.value}}</td>
                        <td>{{getStock(product.stock)}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="admin-product" v-else-if="showProduct">
            <button class="button is-primary" @@click="toggleList">
                <i class="fas fa-long-arrow-alt-left"></i>
            </button>
            <div v-if="productModel.id">
                <button class="button is-danger delete-product-btn"
                    @@click="deleteProduct(productModel.id)">Delete product</button>
                <button class="button" @@click="toggleStock">Manage stock</button>
            </div>
            <div class="product-form">
                <div class="admin-data-form">
                    <div class="field">
                        <label class="label">Name</label>
                        <div class="control">
                            <input class="input" v-model="productModel.name">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Description</label>
                        <div class="control">
                            <input class="input" v-model="productModel.description">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Value</label>
                        <div class="control">
                            <input class="input" v-model="productModel.value">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Image</label>
                        <div class="control">
                            <input type="file" class="input" @@change="getFile($event)">
                        </div>
                    </div>
                    <button @@click="createProduct" v-if="!productModel.id" class="button is-success">Create product</button>
                    <button @@click="updateProduct" v-else="" class="button is-success">Update product</button>
                </div>
            </div>
        </div>

        <div class="admin-stock" v-else-if="showStock">

            <button class="button is-primary stock-back-btn" @@click="toggleProduct">
                <i class="fas fa-long-arrow-alt-left"></i>
            </button>

            <table class="table stock-form">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Quantity</th>
                    </tr>
                </thead>

                <tbody v-if="productModel.stock.length > 0">
                    <tr v-for="(stock, index) in productModel.stock">
                        <td><input class="input" v-model="stock.description" /></td>
                        <td><input class="input" v-model="stock.qty" /></td>
                        <td><a class="has-text-danger" @@click="deleteStock(stock.id, index)">
                            <i class="fas fa-times is-danger"></i>
                        </a></td>
                    </tr>
                </tbody>
            </table>
            <table class="table add-stock-form">
                <tbody>
                    <tr>
                        <td><input class="input" v-model="stockModel.description" /></td>
                        <td><input class="input" v-model="stockModel.qty" /></td>
                        <td><button class="button is-success" @@click="addStock">
                            <i class="fas fa-level-up-alt"></i>
                        </button></td>
                    </tr>
                </tbody>
            </table>
            <button class="button is-primary stock-save-btn" @@click="updateStock">Save changes</button>
        </div>
    </div>
</div>


@section scripts{
    <script src="~/js/admin/products.js"></script>
}